@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/font/Gilroy/Gilroy-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../assets/font/Gilroy/Gilroy-Bold.ttf") format("truetype");
  }
  body {
    background-color: #f8ffff;
  }

  * {
    font-family: "Gilroy", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1e959b;
    line-height: 16px;
    margin: 0;
    padding: 0;
  }

  li,
  button {
    cursor: pointer;
    outline: none;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  .swiper-pagination-bullet {
    background-color: #1e959b;
  }

  *::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    background-color: #d4f8fa;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #1e959b;
  }
}
